@import "./variables";
@import "./mixins";
.card {
  box-shadow: $base-box-shadow;
  margin: 2rem;
  width: 10rem;
  @include flex-start();
  &.active {
    border: 1px solid red;
  }
  :hover {
    background-color: aliceblue;
  }
  p {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  div {
    border: 1px solid gray;
  }
}
