$base-blue: #CAF0F8;
$base-box-shadow: 10px 10px 10px #03045E;
$base-background-color:#00B4D8;


$pink-bk: #FFF8F9;
$pink-box-shadow:  10px 10px 10px #FF759F;
$pink-background-color:#FFC6D7;



$purple-bk: #E9C9F2; 
$purple-box-shadow: 10px 10px 10px #611F73;
$purple-background-color: #A33FBF;

/*

BLUE
#03045E
#00B4D8
#0077B6
#90E0EF
#CAF0F8

PINK
#FF759F
#FFA0BD
#FFC6D7
#FFE5EC
#FFF8F9

PURPLE
#611F73
#76278C
#A33FBF
#C98FD9
#E9C9F2

*/